body{
  background:#1A0B2E;
  color:white;
}
/* design nav-bar */
.linear-text, .nav-btn{
  background:linear-gradient(90deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
}
.nav-bar{
  margin: 6px 200px;
}

.nav-btn{
  color:white;
  /* border: 1px solid #FFFFFF; */
  padding:4px;
  border-radius:10000px;
  cursor:pointer;
  }

  .Wave{
    color:#FB09B4;
  }

  .nav-btn:hover{
    background:linear-gradient(90deg,#9100F8 0%,#FB09B4 51%,#F7E93F 100%);
  }
  /* design banner section */
  .banner-container{
    background: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 760px;
    width: 100%;
  }
  .message{
    color: #00FF88;
    border: 1px solid #00FF88;
    padding:4px;
    border-radius:10000px;
    cursor:pointer;

  }

  /* design podcast section */
  .podcast-container,.episode-container, .host-container{
    margin: 40px 200px;
  }
  .podcast-detail h3{
    color: #00FF88;
  }

  /* design techwave section */
  .tech-container{
    background:#230E3D;
  }
  .tech-cards{
     margin: 40px 200px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
  }
  .card{
    /* border: 1px solid #FFFFFF; */
    padding: 16px;
    border-radius: 20px;
    background:#351165;
  }

  .tech-cards .card img{
    height: 30px;
    width: 30px;
  }

  .tech-cards .first{
    grid-row: span 2;
  }
  .tech-cards .second{
    grid-column: span 2;
  }
  .tech-cards .third{
    grid-column: span 2;
  }

  .tech-cards .fourth{
    grid-column: span 2;
  }

  /* episodes design  */

  .episodes{
    margin-top: 40px;
    gap: 16px;
  }
  .epi-card{
    background:#250D44;
    /* border: 1px solid white; */
    border-radius: 8px;

  }

  .epi-card .font-sm{
    color:#00FF88;
  }

  /* host section design */
  .host-container{
    background: #533C72;
    /* border: 1px solid white; */
    padding: 4px;
    border-radius: 8px;
  }

  